<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Manejo Base Datos - Add/modify Contact</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="#" th:href="@{/assets/dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
    
</head>
<body>

		<div class="container">
			<h1>User Form</h1>
			<br/>
			<form action="#" th:action="@{/user/add-user}" th:object="${UserModel}" method="post">
				Username: <input type="text" th:field="*{username}" class="form-control"></input>
				<br/>
				Password: <input type="password" th:field="*{password}" class="form-control"></input>
				<br/>
				Enabled: <select th:field="*{enabled}">
						    <option th:value="'1'" th:text="Activado"></option>
						    <option th:value="'0'" th:text="Desactivado"></option>
						</select>
				<br/>
				Rol: <select th:field="*{userRole}">
					    <option th:value="'ROLE_USER'" th:text="User"></option>
					    <option th:value="'ROLE_ADMIN'" th:text="Admin"></option>
					</select>
				<br/>
				<br/>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept
				</button>
			</form>
			<a href="#" th:href="@{/user/list}">
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
				</button>
			</a>
		</div>

</body>
</html>