<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Registro</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/my-login.css}">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="static/imgs/logo_cerros.png" th:src="@{/imgs/logo_cerros.png}" alt="logo" />
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Registro</h4>
							<form class="my-login-validation" action="#" th:action="@{/user/add-user}" th:object="${User}" method="post">
								<div class="form-group">
									<label for="username">Username</label>
									<input id="username" type="text" th:field="*{username}" class="form-control" name="username" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''" >
									<!-- Con esto mostramos los errores -->
									<div class="invalid-feedback" th:errors="*{username}">
									</div>
								</div>
								
								<div class="form-group">
									<label for="password">Password</label>
									<input id="password" th:field="*{password}" type="password" class="form-control" name="password" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" data-eye>
									<div class="invalid-feedback" th:errors="*{password}">
									</div>
								</div>

								<div class="form-group">
									<select class="form-control" th:field="*{rol}" th:classappend="${#fields.hasErrors('rol')} ? 'is-invalid' : ''">
										<option th:value="'null'" selected>Seleccionar rol de usuario</option>
									    <option th:value="'ROLE_USER'" th:text="User"></option>
									    <option th:value="'ROLE_ADMIN'" th:text="Admin"></option>
									</select>
									<div class="invalid-feedback"> Debes especificar el rol
									</div>
								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-primary btn-block">
										Registrar
									</button>
								</div>
								<div class="form-group">
								</div>
							</form>
							<a href="#" th:href="@{/user/list}">
								<button class="btn btn-danger btn-block" >
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
								</button>
							</a>
						</div>
					</div>
					<div class="footer">
						Trabajo fin de grado 2021 &mdash; Pablo Cruz Garrido 
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
</body>
</html>